{"openapi":"3.1.0","info":{"title":"Work Flow API","description":"This is the REST API for Work Flow","version":"V0.0.1"},"servers":[{"url":"https://api.dev2.workfloow.app","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Company","description":"Company profile and settings"},{"name":"Worker Job Workflows","description":"Endpoints for workers to manage their assigned workflows and steps"},{"name":"Workflows","description":"Workflow templates"},{"name":"Workers","description":"Worker management"},{"name":"Asset Assignments","description":"Asset job assignments"},{"name":"Job Templates","description":"Job template definitions"},{"name":"Authentication","description":"User authentication and authorization"},{"name":"Workflow Step Activities","description":"Activity logs for workflow steps"},{"name":"Assets","description":"Asset management"},{"name":"Clients","description":"Client management"},{"name":"Jobs","description":"Job instances"},{"name":"Job Workflows","description":"Workflow instances for jobs"}],"paths":{"/api/v1/workflows/{workflowId}/bulk":{"put":{"tags":["Workflows"],"operationId":"workflowBulkUpdate","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowBulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}}}}},"/api/v1/workflows/{id}":{"get":{"tags":["Workflows"],"operationId":"workflowGetOne","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}}}},"put":{"tags":["Workflows"],"operationId":"workflowUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}}}},"delete":{"tags":["Workflows"],"operationId":"workflowDelete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/workflows/steps/{stepId}":{"get":{"tags":["Workflows"],"operationId":"workflowGetStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowStepResponse"}}}}}},"put":{"tags":["Workflows"],"operationId":"workflowUpdateStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowStepCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowStepResponse"}}}}}},"delete":{"tags":["Workflows"],"operationId":"workflowDeleteStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/workers/{id}":{"get":{"tags":["Workers"],"operationId":"workerGetWorkerById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerResponse"}}}}}},"put":{"tags":["Workers"],"operationId":"workerUpdateWorker","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerResponse"}}}}}},"delete":{"tags":["Workers"],"operationId":"workerDeleteWorker","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Workers"],"operationId":"workerPatchWorker","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerResponse"}}}}}}},"/api/v1/line-items/{id}":{"get":{"tags":["Line Items"],"operationId":"lineItemGet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LineItemResponse"}}}}}},"put":{"tags":["Line Items"],"operationId":"lineItemUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItemUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LineItemResponse"}}}}}},"delete":{"tags":["Line Items"],"operationId":"lineItemDelete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/jobs/{id}":{"get":{"tags":["Jobs"],"operationId":"jobGet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}}}},"put":{"tags":["Jobs"],"operationId":"jobUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}}}},"delete":{"tags":["Jobs"],"operationId":"jobDelete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/job-workflows/{jobWorkflowId}":{"get":{"tags":["Job Workflows"],"operationId":"jobWorkflowGetJobWorkflowById","parameters":[{"name":"jobWorkflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}},"put":{"tags":["Job Workflows"],"operationId":"jobWorkflowUpdateJobWorkflow","parameters":[{"name":"jobWorkflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWorkflowUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}}},"/api/v1/job-workflows/{jobWorkflowId}/steps/{stepId}":{"put":{"tags":["Job Workflows"],"operationId":"jobWorkflowUpdateStep","parameters":[{"name":"jobWorkflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/job-workflows/{jobWorkflowId}/assign-worker/{workerId}":{"put":{"tags":["Job Workflows"],"operationId":"jobWorkflowAssignWorkerToAllSteps","parameters":[{"name":"jobWorkflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"workerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}}},"/api/v1/job-workflow-steps/visits/{visitLogId}":{"put":{"tags":["Workflow Step Visit Logs"],"operationId":"jobWorkflowStepVisitLogUpdateVisitLog","parameters":[{"name":"visitLogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepVisitLogCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepVisitLogResponse"}}}}}},"delete":{"tags":["Workflow Step Visit Logs"],"operationId":"jobWorkflowStepVisitLogDeleteVisitLog","parameters":[{"name":"visitLogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/job-workflow-steps/comments/{commentId}":{"put":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityUpdateComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepCommentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepCommentResponse"}}}}}},"delete":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityDeleteComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/job-workflow-steps/attachments/{attachmentId}":{"put":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityUpdateAttachment","parameters":[{"name":"attachmentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepAttachmentUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepAttachmentResponse"}}}}}},"delete":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityDeleteAttachment","parameters":[{"name":"attachmentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/job-templates/{id}":{"get":{"tags":["Job Templates"],"operationId":"jobTemplateGetTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateResponse"}}}}}},"put":{"tags":["Job Templates"],"operationId":"jobTemplateUpdateTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobTemplateCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateResponse"}}}}}},"delete":{"tags":["Job Templates"],"operationId":"jobTemplateDeleteTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/job-templates/fields/{fieldId}":{"get":{"tags":["Job Templates"],"operationId":"jobTemplateGetTemplateField","parameters":[{"name":"fieldId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateFieldResponse"}}}}}},"put":{"tags":["Job Templates"],"operationId":"jobTemplateUpdateTemplateField","parameters":[{"name":"fieldId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobTemplateFieldCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateFieldResponse"}}}}}},"delete":{"tags":["Job Templates"],"operationId":"jobTemplateDeleteTemplateField","parameters":[{"name":"fieldId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/estimates/{id}":{"get":{"tags":["Estimates"],"operationId":"estimateGet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}}}},"put":{"tags":["Estimates"],"operationId":"estimateUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}}}},"delete":{"tags":["Estimates"],"operationId":"estimateDelete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/estimates/{estimateId}/line-items/{lineItemId}":{"put":{"tags":["Estimates"],"operationId":"estimateLinkExisting","parameters":[{"name":"estimateId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}}}},"delete":{"tags":["Estimates"],"operationId":"estimateUnlink","parameters":[{"name":"estimateId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}}}}},"/api/v1/customers/{id}":{"get":{"tags":["Customers"],"operationId":"customerGetCustomerById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}}}},"put":{"tags":["Customers"],"operationId":"customerUpdateCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}}}},"delete":{"tags":["Customers"],"operationId":"customerDeleteCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/clients/{id}":{"get":{"tags":["Clients"],"operationId":"clientGetClientById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientResponse"}}}}}},"put":{"tags":["Clients"],"operationId":"clientUpdateClient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientResponse"}}}}}},"delete":{"tags":["Clients"],"operationId":"clientDeleteClient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/assets/{id}":{"get":{"tags":["Assets"],"operationId":"assetGet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetResponse"}}}}}},"put":{"tags":["Assets"],"operationId":"assetUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetResponse"}}}}}}},"/api/v1/workflows":{"get":{"tags":["Workflows"],"operationId":"workflowGetAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowResponse"}}}}}}},"post":{"tags":["Workflows"],"operationId":"workflowCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}}}}},"/api/v1/workflows/steps":{"get":{"tags":["Workflows"],"operationId":"workflowGetAllSteps","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowStepResponse"}}}}}}},"post":{"tags":["Workflows"],"operationId":"workflowCreateStep","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowStepCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowStepResponse"}}}}}}},"/api/v1/workers":{"get":{"tags":["Workers"],"operationId":"workerGetAllWorkers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkerResponse"}}}}}}},"post":{"tags":["Workers"],"operationId":"workerCreateWorker","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerResponse"}}}}}}},"/api/v1/workers/invite":{"post":{"tags":["Workers"],"operationId":"workerSendInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerInvitationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerInviteResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/visits":{"get":{"tags":["Worker Job Workflows"],"summary":"Get all visit logs for a step","operationId":"workerJobWorkflowGetStepVisits","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepVisitLogSummaryResponse"}}}}}},"post":{"tags":["Worker Job Workflows"],"summary":"Add a visit log to a step","operationId":"workerJobWorkflowAddVisitLog","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepVisitLogCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepVisitLogResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/start":{"post":{"tags":["Worker Job Workflows"],"summary":"Start a step (NOT_STARTED -> STARTED)","operationId":"workerJobWorkflowStartStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/ongoing":{"post":{"tags":["Worker Job Workflows"],"summary":"Mark an initiated step as ongoing (INITIATED -> ONGOING)","operationId":"workerJobWorkflowMarkStepOngoing","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/complete":{"post":{"tags":["Worker Job Workflows"],"summary":"Complete a step (STARTED -> COMPLETED)","operationId":"workerJobWorkflowCompleteStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/complete-ongoing":{"post":{"tags":["Worker Job Workflows"],"summary":"Complete an ongoing step (ONGOING -> COMPLETED)","operationId":"workerJobWorkflowCompleteOngoingStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/comments":{"get":{"tags":["Worker Job Workflows"],"summary":"Get all comments for a step","operationId":"workerJobWorkflowGetStepComments","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepCommentResponse"}}}}}}},"post":{"tags":["Worker Job Workflows"],"summary":"Add a comment to a step","operationId":"workerJobWorkflowAddComment","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepCommentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepCommentResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/attachments":{"get":{"tags":["Worker Job Workflows"],"summary":"Get all attachments for a step","operationId":"workerJobWorkflowGetStepAttachments","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepAttachmentResponse"}}}}}}},"post":{"tags":["Worker Job Workflows"],"summary":"Upload an attachment to a step","operationId":"workerJobWorkflowUploadAttachment","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepAttachmentResponse"}}}}}}},"/api/v1/line-items":{"get":{"tags":["Line Items"],"operationId":"lineItemGetAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LineItemResponse"}}}}}}},"post":{"tags":["Line Items"],"operationId":"lineItemCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItemCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LineItemResponse"}}}}}}},"/api/v1/jobs":{"get":{"tags":["Jobs"],"operationId":"jobGetAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobResponse"}}}}}}},"post":{"tags":["Jobs"],"operationId":"jobCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}}}}},"/api/v1/job-workflows/{jobWorkflowId}/steps":{"post":{"tags":["Job Workflows"],"operationId":"jobWorkflowAddStep","parameters":[{"name":"jobWorkflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/job-workflows/jobs/{jobId}/workflows/{workflowId}/start":{"post":{"tags":["Job Workflows"],"operationId":"jobWorkflowStartWorkflow","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"workflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}}},"/api/v1/job-workflow-steps/{stepId}/visits":{"get":{"tags":["Workflow Step Visit Logs"],"operationId":"jobWorkflowStepVisitLogGetVisitLogs","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepVisitLogSummaryResponse"}}}}}},"post":{"tags":["Workflow Step Visit Logs"],"operationId":"jobWorkflowStepVisitLogAddVisitLog","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepVisitLogCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepVisitLogResponse"}}}}}}},"/api/v1/job-workflow-steps/{stepId}/comments":{"get":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityGetComments","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepCommentResponse"}}}}}}},"post":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityAddComment","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepCommentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepCommentResponse"}}}}}}},"/api/v1/job-workflow-steps/{stepId}/attachments":{"get":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityGetAttachments","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepAttachmentResponse"}}}}}}},"post":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityUploadAttachment","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepAttachmentResponse"}}}}}}},"/api/v1/job-templates":{"get":{"tags":["Job Templates"],"operationId":"jobTemplateGetAllTemplates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobTemplateResponse"}}}}}}},"post":{"tags":["Job Templates"],"operationId":"jobTemplateCreateTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobTemplateCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateResponse"}}}}}}},"/api/v1/job-templates/fields":{"post":{"tags":["Job Templates"],"operationId":"jobTemplateCreateTemplateField","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobTemplateFieldCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateFieldResponse"}}}}}}},"/api/v1/estimates/{estimateId}/line-items":{"post":{"tags":["Estimates"],"operationId":"estimateCreateAndLink","parameters":[{"name":"estimateId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItemCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}}}}},"/api/v1/estimates/{estimateId}/invoice":{"post":{"tags":["Invoices"],"operationId":"invoiceGenerate","parameters":[{"name":"estimateId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}},"/api/v1/customers":{"get":{"tags":["Customers"],"operationId":"customerGetAllCustomers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerResponse"}}}}}}},"post":{"tags":["Customers"],"operationId":"customerCreateCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}}}}},"/api/v1/companies/profile":{"get":{"tags":["Company"],"operationId":"companyGetProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyProfileResponse"}}}}}},"post":{"tags":["Company"],"operationId":"companyUpdateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyProfileResponse"}}}}}}},"/api/v1/clients":{"get":{"tags":["Clients"],"operationId":"clientGetAllClients","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientResponse"}}}}}}},"post":{"tags":["Clients"],"operationId":"clientCreateClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientResponse"}}}}}}},"/api/v1/auth/verify-email":{"post":{"tags":["Authentication"],"operationId":"authVerifyEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticationResponse"}}}}}}},"/api/v1/auth/signup":{"post":{"tags":["Authentication"],"operationId":"authSignup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignupResponse"}}}}}}},"/api/v1/auth/signup/worker":{"post":{"tags":["Authentication"],"operationId":"authSignupWorker","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerSignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerSignupResponse"}}}}}}},"/api/v1/auth/reset-password":{"post":{"tags":["Authentication"],"operationId":"authResetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordResetResponse"}}}}}}},"/api/v1/auth/resend-verification":{"post":{"tags":["Authentication"],"operationId":"authResendVerification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignupResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Authentication"],"operationId":"authRefreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticationResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Authentication"],"operationId":"authLogout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/auth/logout-all":{"post":{"tags":["Authentication"],"operationId":"authLogoutFromAllDevices","responses":{"200":{"description":"OK"}}}},"/api/v1/auth/login":{"post":{"tags":["Authentication"],"operationId":"authLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticationResponse"}}}}}}},"/api/v1/auth/google":{"post":{"tags":["Authentication"],"operationId":"authGoogleLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleAuthRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticationResponse"}}}}}}},"/api/v1/auth/forgot-password":{"post":{"tags":["Authentication"],"operationId":"authForgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordResetResponse"}}}}}}},"/api/v1/assets":{"get":{"tags":["Assets"],"operationId":"assetList","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"archived","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"available","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}},{"name":"dir","in":"query","required":false,"schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAssetResponse"}}}}}},"post":{"tags":["Assets"],"operationId":"assetCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetResponse"}}}}}}},"/api/v1/asset-assignments/return":{"post":{"tags":["Asset Assignments"],"operationId":"assetAssignmentReturnAsset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAssignmentReturnRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetAssignmentResponse"}}}}}}},"/api/v1/asset-assignments/assign":{"post":{"tags":["Asset Assignments"],"operationId":"assetAssignmentAssign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetAssignmentResponse"}}}}}}},"/api/v1/assets/{id}/archive":{"patch":{"tags":["Assets"],"operationId":"assetArchive","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/workflows/{workflowId}/with-steps":{"get":{"tags":["Workflows"],"operationId":"workflowGetWorkflowWithSteps","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowWithStepsResponse"}}}}}}},"/api/v1/workflows/{workflowId}/steps":{"get":{"tags":["Workflows"],"operationId":"workflowGetSteps","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowStepResponse"}}}}}}}},"/api/v1/workers/invites":{"get":{"tags":["Workers"],"operationId":"workerGetInvitationStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkerInvitationStatusResponse"}}}}}}}},"/api/v1/workers/invites/check/{token}":{"get":{"tags":["Workers"],"operationId":"workerCheckInvitation","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkerInvitationCheckResponse"}}}}}}},"/api/v1/worker/job-workflows":{"get":{"tags":["Worker Job Workflows"],"summary":"Get all job workflows assigned to the current worker","operationId":"workerJobWorkflowGetMyJobWorkflows","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}}}},"/api/v1/worker/job-workflows/{jobWorkflowId}":{"get":{"tags":["Worker Job Workflows"],"summary":"Get specific job workflow details if assigned","operationId":"workerJobWorkflowGetJobWorkflow","parameters":[{"name":"jobWorkflowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}}},"/api/v1/worker/job-workflow-steps":{"get":{"tags":["Worker Job Workflows"],"summary":"Get all job workflow steps assigned to the current worker","operationId":"workerJobWorkflowGetMyAssignedSteps","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkerAssignedStepResponse"}}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}":{"get":{"tags":["Worker Job Workflows"],"summary":"Get step details","operationId":"workerJobWorkflowGetStep","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}}}}}}},"/api/v1/worker/job-workflow-steps/{stepId}/discussion":{"get":{"tags":["Worker Job Workflows"],"summary":"Get discussion timeline (Comments & Attachments) for a step","operationId":"workerJobWorkflowGetStepDiscussion","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepTimelineItemResponse"}}}}}}}},"/api/v1/jobs/templates/{templateId}":{"get":{"tags":["Jobs"],"operationId":"jobGetJobsByTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobResponse"}}}}}}}},"/api/v1/job-workflows":{"get":{"tags":["Job Workflows"],"operationId":"jobWorkflowGetAllJobWorkflows","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}}}},"/api/v1/job-workflows/jobs/{jobId}":{"get":{"tags":["Job Workflows"],"operationId":"jobWorkflowGetJobWorkflow","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWorkflowResponse"}}}}}},"delete":{"tags":["Job Workflows"],"operationId":"jobWorkflowDeleteByJobId","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/job-workflow-steps/{stepId}/timeline":{"get":{"tags":["Workflow Step Activities"],"operationId":"stepActivityGetTimeline","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepActivityResponse"}}}}}}}},"/api/v1/job-workflow-steps/{stepId}/discussion":{"get":{"tags":["Workflow Step Activities"],"operationId":"jobWorkflowStepActivityGetDiscussionTimeline","parameters":[{"name":"stepId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepTimelineItemResponse"}}}}}}}},"/api/v1/job-templates/{id}/with-fields":{"get":{"tags":["Job Templates"],"operationId":"jobTemplateGetTemplateWithFields","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateWithFieldsResponse"}}}}}}},"/api/v1/job-templates/{id}/fields":{"get":{"tags":["Job Templates"],"operationId":"jobTemplateGetTemplateFields","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobTemplateFieldResponse"}}}}}}}},"/api/v1/job-templates/default":{"get":{"tags":["Job Templates"],"operationId":"jobTemplateGetDefaultTemplate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobTemplateResponse"}}}}}}},"/api/v1/estimates/{estimateId}/invoices":{"get":{"tags":["Invoices"],"operationId":"invoiceListForEstimate","parameters":[{"name":"estimateId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}}},"/api/v1/estimates/job/{jobId}":{"get":{"tags":["Estimates"],"operationId":"estimateGetByJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}}}}},"/api/v1/estimates/invoices":{"get":{"tags":["Invoices"],"operationId":"invoiceListAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}}},"/api/v1/estimates/invoices/{invoiceId}":{"get":{"tags":["Invoices"],"operationId":"invoiceGet","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}},"/api/v1/companies/dashboard":{"get":{"tags":["Company"],"operationId":"companyGetDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyDashboardResponse"}}}}}}},"/api/v1/assets/{id}/value":{"get":{"tags":["Assets"],"operationId":"assetValue","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"asOf","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetValueResponse"}}}}}}},"/api/v1/assets/statistics":{"get":{"tags":["Assets"],"operationId":"assetStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetStatistics"}}}}}}},"/api/v1/asset-assignments/job/{jobId}":{"get":{"tags":["Asset Assignments"],"operationId":"assetAssignmentJobAssignments","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"onlyActive","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetAssignmentResponse"}}}}}}}},"/api/v1/asset-assignments/asset/{assetId}/history":{"get":{"tags":["Asset Assignments"],"operationId":"assetAssignmentHistory","parameters":[{"name":"assetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetAssignmentResponse"}}}}}}}}},"components":{"schemas":{"WorkflowBulkUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"steps":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowStepBulkRequest"}}}},"WorkflowStepBulkRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"optional":{"type":"boolean"}}},"WorkflowResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"workflowRef":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"}}},"WorkflowCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"}},"required":["name"]},"WorkflowStepCreateRequest":{"type":"object","properties":{"workflowId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"optional":{"type":"boolean"}}},"WorkflowStepResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"workflowId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"optional":{"type":"boolean"}}},"WorkerUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":2},"initials":{"type":"string","maxLength":10,"minLength":0},"telephone":{"type":"string","maxLength":20,"minLength":0},"mobile":{"type":"string","maxLength":20,"minLength":0},"email":{"type":"string","format":"email","maxLength":100,"minLength":0}},"required":["email","name"]},"WorkerResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"workerRef":{"type":"integer","format":"int64"},"name":{"type":"string"},"initials":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"},"loginLocked":{"type":"boolean"},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"LineItemUpdateRequest":{"type":"object","properties":{"productCode":{"type":"string"},"productDescription":{"type":"string"},"additionalDetails":{"type":"string"},"unitPrice":{"type":"number","minimum":0},"coreOrSub":{"type":"string","enum":["CORE","SUB"]},"quantity":{"type":"number","minimum":0},"vatRate":{"type":"number","maximum":100,"minimum":0}}},"LineItemResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"productCode":{"type":"string"},"productDescription":{"type":"string"},"additionalDetails":{"type":"string"},"unitPrice":{"type":"number"},"coreOrSub":{"type":"string","enum":["CORE","SUB"]},"quantity":{"type":"number"},"vatRate":{"type":"number"},"netAmount":{"type":"number"},"vatAmount":{"type":"number"},"totalAmount":{"type":"number"},"invoiced":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"AddressRequest":{"type":"object","properties":{"street":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"},"additionalInfo":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"JobUpdateRequest":{"type":"object","properties":{"clientId":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"assignedWorkerId":{"type":"integer","format":"int64"},"workflowId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["NEW","PENDING","IN_PROGRESS","COMPLETED","CANCELLED"]},"archived":{"type":"boolean"},"fieldValues":{"type":"object","additionalProperties":{}},"assetIds":{"type":"array","items":{"type":"integer","format":"int64"}},"address":{"$ref":"#/components/schemas/AddressRequest"}}},"AddressResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"street":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"},"additionalInfo":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"FieldValueResponse":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"type":{"type":"string","enum":["TEXT","NUMBER","DATE","BOOLEAN","DROPDOWN","JSON","REFERENCE"]},"value":{}}},"JobResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"jobRef":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"templateId":{"type":"integer","format":"int64"},"clientId":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"assignedWorkerId":{"type":"integer","format":"int64"},"workflowId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["NEW","PENDING","IN_PROGRESS","COMPLETED","CANCELLED"]},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"fieldValues":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FieldValueResponse"}},"assetIds":{"type":"array","items":{"type":"integer","format":"int64"}},"address":{"$ref":"#/components/schemas/AddressResponse"}}},"JobWorkflowStepUpdateRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["INITIATED","NOT_STARTED","PENDING","ONGOING","STARTED","COMPLETED","SKIPPED"]},"assignedWorkerIds":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}},"JobWorkflowUpdateRequest":{"type":"object","properties":{"status":{"type":"string","enum":["INITIATED","NOT_STARTED","PENDING","ONGOING","STARTED","COMPLETED","SKIPPED"]},"steps":{"type":"array","items":{"$ref":"#/components/schemas/JobWorkflowStepUpdateRequest"}}}},"JobWorkflowResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"jobId":{"type":"integer","format":"int64"},"steps":{"type":"array","items":{"$ref":"#/components/schemas/JobWorkflowStepResponse"}},"status":{"type":"string","enum":["INITIATED","NOT_STARTED","PENDING","ONGOING","STARTED","COMPLETED","SKIPPED"]}}},"JobWorkflowStepResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["INITIATED","NOT_STARTED","PENDING","ONGOING","STARTED","COMPLETED","SKIPPED"]},"startedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"assignedWorkerIds":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}},"StepVisitLogCreateRequest":{"type":"object","properties":{"visitDate":{"type":"string","format":"date"},"timeIn":{"type":"string"},"timeOut":{"type":"string"},"description":{"type":"string"},"loggedById":{"type":"integer","format":"int64"}}},"StepVisitLogResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"visitDate":{"type":"string","format":"date"},"timeIn":{"type":"string"},"timeOut":{"type":"string"},"workedMinutes":{"type":"integer","format":"int64"},"description":{"type":"string"},"loggedById":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"StepCommentCreateRequest":{"type":"object","properties":{"content":{"type":"string","minLength":1},"type":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]}},"required":["content","type"]},"StepCommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"content":{"type":"string"},"type":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]},"authorId":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"StepAttachmentUpdateRequest":{"type":"object","properties":{"fileName":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]}}},"StepAttachmentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"fileName":{"type":"string"},"fileType":{"type":"string"},"fileUrl":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]},"uploadedBy":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"JobTemplateCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"isDefault":{"type":"boolean"}},"required":["name"]},"JobTemplateResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"templateRef":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"default":{"type":"boolean"}}},"JobTemplateFieldCreateRequest":{"type":"object","properties":{"templateId":{"type":"integer","format":"int64"},"name":{"type":"string","maxLength":150,"minLength":0},"label":{"type":"string","maxLength":150,"minLength":0},"jobFieldType":{"type":"string","enum":["TEXT","NUMBER","DATE","BOOLEAN","DROPDOWN","JSON","REFERENCE"]},"required":{"type":"boolean"},"options":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"}},"required":["jobFieldType","label","name","templateId"]},"JobTemplateFieldResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"templateId":{"type":"integer","format":"int64"},"name":{"type":"string"},"label":{"type":"string"},"jobFieldType":{"type":"string","enum":["TEXT","NUMBER","DATE","BOOLEAN","DROPDOWN","JSON","REFERENCE"]},"required":{"type":"boolean"},"options":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"}}},"EstimateUpdateRequest":{"type":"object","properties":{"notes":{"type":"string"}}},"EstimateResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"jobId":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"notes":{"type":"string"},"lineItems":{"type":"array","items":{"$ref":"#/components/schemas/LineItemResponse"}},"totalNet":{"type":"number"},"totalVat":{"type":"number"},"grandTotal":{"type":"number"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CustomerAddressDto":{"type":"object","properties":{"houseNumber":{"type":"string"},"street":{"type":"string"},"city":{"type":"string"},"county":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"}}},"CustomerUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"email":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"address":{"$ref":"#/components/schemas/CustomerAddressDto"},"archived":{"type":"boolean"}},"required":["name"]},"CustomerResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"customerRef":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"address":{"$ref":"#/components/schemas/CustomerAddressDto"},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ClientUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"email":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"address":{"type":"string"},"archived":{"type":"boolean"}},"required":["name"]},"ClientResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"clientRef":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"address":{"type":"string"},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"AssetUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"description":{"type":"string","maxLength":500,"minLength":0},"serialNumber":{"type":"string","maxLength":100,"minLength":0},"assetTag":{"type":"string","maxLength":50,"minLength":0},"salvageValue":{"type":"number","minimum":0.00}}},"AssetResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"assetRef":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"serialNumber":{"type":"string"},"assetTag":{"type":"string"},"purchasePrice":{"type":"number"},"purchaseDate":{"type":"string","format":"date"},"depreciationRate":{"type":"number"},"salvageValue":{"type":"number"},"available":{"type":"boolean"},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"WorkerCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":2},"initials":{"type":"string","maxLength":10,"minLength":0},"telephone":{"type":"string","maxLength":20,"minLength":0},"mobile":{"type":"string","maxLength":20,"minLength":0},"email":{"type":"string","format":"email","maxLength":100,"minLength":0},"username":{"type":"string","maxLength":20,"minLength":3},"password":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["name","password","username"]},"WorkerInvitationRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","maxLength":100,"minLength":0}},"required":["email"]},"WorkerInviteResponse":{"type":"object","properties":{"email":{"type":"string"},"message":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"}}},"LineItemCreateRequest":{"type":"object","properties":{"productCode":{"type":"string","minLength":1},"productDescription":{"type":"string","minLength":1},"additionalDetails":{"type":"string"},"unitPrice":{"type":"number","minimum":0},"coreOrSub":{"type":"string","enum":["CORE","SUB"]},"quantity":{"type":"number","minimum":0},"vatRate":{"type":"number","maximum":100,"minimum":0}},"required":["coreOrSub","productCode","productDescription","quantity","unitPrice","vatRate"]},"JobCreateRequest":{"type":"object","properties":{"templateId":{"type":"integer","format":"int64"},"clientId":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"assignedWorkerId":{"type":"integer","format":"int64"},"workflowId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["NEW","PENDING","IN_PROGRESS","COMPLETED","CANCELLED"]},"fieldValues":{"type":"object","additionalProperties":{}},"assetIds":{"type":"array","items":{"type":"integer","format":"int64"}},"address":{"$ref":"#/components/schemas/AddressRequest"}},"required":["customerId","templateId"]},"JobWorkflowStepCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"orderIndex":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["INITIATED","NOT_STARTED","PENDING","ONGOING","STARTED","COMPLETED","SKIPPED"]},"assignedWorkerIds":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}},"InvoiceCreateRequest":{"type":"object","properties":{"lineItemIds":{"type":"array","items":{"type":"integer","format":"int64"},"minItems":1},"dueDate":{"type":"string","format":"date"},"reference":{"type":"string","maxLength":100,"minLength":0}},"required":["lineItemIds"]},"InvoiceResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"estimateId":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"invoiceNumber":{"type":"string"},"dueDate":{"type":"string","format":"date"},"reference":{"type":"string"},"presignedUrl":{"type":"string"},"lineItems":{"type":"array","items":{"$ref":"#/components/schemas/LineItemResponse"}},"totalNet":{"type":"number"},"totalVat":{"type":"number"},"grandTotal":{"type":"number"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CustomerCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"email":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"address":{"$ref":"#/components/schemas/CustomerAddressDto"}},"required":["name"]},"CompanyAddressRequest":{"type":"object","properties":{"addressLine1":{"type":"string","maxLength":255,"minLength":0},"addressLine2":{"type":"string","maxLength":255,"minLength":0},"addressLine3":{"type":"string","maxLength":255,"minLength":0},"town":{"type":"string","maxLength":100,"minLength":0},"country":{"type":"string","maxLength":100,"minLength":0},"postcode":{"type":"string","maxLength":20,"minLength":0}}},"CompanyBankDetailsRequest":{"type":"object","properties":{"bankName":{"type":"string","maxLength":100,"minLength":0},"accountName":{"type":"string","maxLength":100,"minLength":0},"accountNo":{"type":"string","maxLength":50,"minLength":0},"sortCode":{"type":"string","maxLength":20,"minLength":0}}},"CompanyProfileUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"address":{"$ref":"#/components/schemas/CompanyAddressRequest"},"telephone":{"type":"string","maxLength":20,"minLength":0},"mobile":{"type":"string","maxLength":20,"minLength":0},"fax":{"type":"string","maxLength":20,"minLength":0},"email":{"type":"string","format":"email","maxLength":100,"minLength":0},"contactEmail":{"type":"string","format":"email","maxLength":100,"minLength":0},"contactNumber":{"type":"string","maxLength":50,"minLength":0},"vatNumber":{"type":"string","maxLength":50,"minLength":0},"bankDetails":{"$ref":"#/components/schemas/CompanyBankDetailsRequest"},"currency":{"type":"string","enum":["GBP","EUR","USD","CAD","AUD","NZD","CHF","JPY","SEK","NOK","DKK","SGD","AED","SAR","INR","ZAR"]}},"required":["name"]},"CompanyAddressResponse":{"type":"object","properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"addressLine3":{"type":"string"},"town":{"type":"string"},"country":{"type":"string"},"postcode":{"type":"string"}}},"CompanyBankDetailsResponse":{"type":"object","properties":{"bankName":{"type":"string"},"accountName":{"type":"string"},"accountNo":{"type":"string"},"sortCode":{"type":"string"}}},"CompanyProfileResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"address":{"$ref":"#/components/schemas/CompanyAddressResponse"},"telephone":{"type":"string"},"mobile":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"},"contactEmail":{"type":"string"},"contactNumber":{"type":"string"},"vatNumber":{"type":"string"},"bankDetails":{"$ref":"#/components/schemas/CompanyBankDetailsResponse"},"currency":{"type":"string","enum":["GBP","EUR","USD","CAD","AUD","NZD","CHF","JPY","SEK","NOK","DKK","SGD","AED","SAR","INR","ZAR"]},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ClientCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"email":{"type":"string"},"telephone":{"type":"string"},"mobile":{"type":"string"},"address":{"type":"string"}},"required":["name"]},"VerifyEmailRequest":{"type":"object","properties":{"token":{"type":"string","minLength":1}},"required":["token"]},"AuthenticationResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"tokenType":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"}}},"SignupRequest":{"type":"object","properties":{"username":{"type":"string","maxLength":20,"minLength":3},"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8},"role":{"type":"string","enum":["WORKER","COMPANY","ADMIN"]}},"required":["email","password","username"]},"SignupResponse":{"type":"object","properties":{"message":{"type":"string"}}},"WorkerSignupRequest":{"type":"object","properties":{"invitationToken":{"type":"string","minLength":1},"email":{"type":"string","format":"email","minLength":1},"name":{"type":"string","maxLength":100,"minLength":2},"username":{"type":"string","maxLength":20,"minLength":3},"password":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["email","invitationToken","name","password","username"]},"WorkerSignupResponse":{"type":"object","properties":{"workerId":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"},"companyName":{"type":"string"},"message":{"type":"string"}}},"ResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"code":{"type":"string","minLength":1,"pattern":"^\\d{6}$"},"newPassword":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["code","email","newPassword"]},"PasswordResetResponse":{"type":"object","properties":{"message":{"type":"string"}}},"ResendVerificationRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1}},"required":["email"]},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}},"required":["refreshToken"]},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}},"required":["refreshToken"]},"LoginRequest":{"type":"object","properties":{"userName":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["password","userName"]},"GoogleAuthRequest":{"type":"object","properties":{"idToken":{"type":"string","minLength":1}},"required":["idToken"]},"ForgotPasswordRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1}},"required":["email"]},"AssetCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":150,"minLength":2},"description":{"type":"string","maxLength":500,"minLength":0},"serialNumber":{"type":"string","maxLength":100,"minLength":0},"assetTag":{"type":"string","maxLength":50,"minLength":0},"purchasePrice":{"type":"number","minimum":0.01},"purchaseDate":{"type":"string","format":"date"},"depreciationRate":{"type":"number","maximum":100.00,"minimum":0.00},"salvageValue":{"type":"number"}},"required":["depreciationRate","name","purchaseDate","purchasePrice"]},"AssetAssignmentReturnRequest":{"type":"object","properties":{"assignmentId":{"type":"integer","format":"int64"},"notes":{"type":"string"}}},"AssetAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"integer","format":"int64"},"assetId":{"type":"integer","format":"int64"},"jobId":{"type":"integer","format":"int64"},"assignedWorkerId":{"type":"integer","format":"int64"},"assetName":{"type":"string"},"description":{"type":"string"},"serialNumber":{"type":"string"},"assetTag":{"type":"string"},"notes":{"type":"string"},"assignedAt":{"type":"string","format":"date-time"},"returnedAt":{"type":"string","format":"date-time"},"durationDays":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"AssetAssignmentCreateRequest":{"type":"object","properties":{"assetId":{"type":"integer","format":"int64"},"jobId":{"type":"integer","format":"int64"},"assignedWorkerId":{"type":"integer","format":"int64"},"notes":{"type":"string"}}},"WorkflowWithStepsResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"steps":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowStepResponse"}}}},"WorkerInvitationStatusResponse":{"type":"object","properties":{"invitationId":{"type":"integer","format":"int64"},"email":{"type":"string"},"status":{"type":"string","enum":["PENDING","ACCEPTED","EXPIRED"]},"createdAt":{"type":"string","format":"date-time"},"expiresAt":{"type":"string","format":"date-time"},"usedAt":{"type":"string","format":"date-time"}}},"WorkerInvitationCheckResponse":{"type":"object","properties":{"valid":{"type":"boolean"},"email":{"type":"string"},"companyName":{"type":"string"},"status":{"type":"string","enum":["PENDING","ACCEPTED","EXPIRED"]},"expiresAt":{"type":"string","format":"date-time"}}},"WorkerAssignedStepResponse":{"type":"object","properties":{"step":{"$ref":"#/components/schemas/JobWorkflowStepResponse"},"jobId":{"type":"integer","format":"int64"},"jobRef":{"type":"integer","format":"int64"},"customer":{"$ref":"#/components/schemas/CustomerResponse"},"assignedAssets":{"type":"array","items":{"$ref":"#/components/schemas/AssetAssignmentResponse"}},"jobAddress":{"$ref":"#/components/schemas/AddressResponse"}}},"StepVisitLogSummaryResponse":{"type":"object","properties":{"visitLogs":{"type":"array","items":{"$ref":"#/components/schemas/StepVisitLogResponse"}},"totalWorkedMinutes":{"type":"integer","format":"int64"}}},"StepTimelineItemResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"itemType":{"type":"string"},"content":{"type":"string"},"fileUrl":{"type":"string"},"discussionType":{"type":"string","enum":["GENERAL","ADDITIONAL","COMPLAINT","INTERNAL_NOTE","APPROVAL","REJECTION"]},"description":{"type":"string"},"actorId":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"StepActivityResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string"},"message":{"type":"string"},"actorId":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"JobTemplateWithFieldsResponse":{"type":"object","properties":{"template":{"$ref":"#/components/schemas/JobTemplateResponse"},"fields":{"type":"array","items":{"$ref":"#/components/schemas/JobTemplateFieldResponse"}}}},"CompanyDashboardResponse":{"type":"object","properties":{"companyId":{"type":"integer","format":"int64"},"companyName":{"type":"string"},"totalWorkers":{"type":"integer","format":"int64"},"totalClients":{"type":"integer","format":"int64"},"activeWorkers":{"type":"integer","format":"int64"},"archivedWorkers":{"type":"integer","format":"int64"}}},"PageAssetResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AssetResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"}}},"AssetValueResponse":{"type":"object","properties":{"assetId":{"type":"integer","format":"int64"},"assetName":{"type":"string"},"purchasePrice":{"type":"number"},"currentValue":{"type":"number"},"totalDepreciation":{"type":"number"},"depreciationRate":{"type":"number"},"salvageValue":{"type":"number"},"purchaseDate":{"type":"string","format":"date"},"daysOwned":{"type":"integer","format":"int64"},"yearsOwned":{"type":"number","format":"double"},"valueAsOfDate":{"type":"string","format":"date-time"}}},"AssetStatistics":{"type":"object","properties":{"totalAssets":{"type":"integer","format":"int64"},"availableAssets":{"type":"integer","format":"int64"},"assetsInUse":{"type":"integer","format":"int64"},"totalPurchaseValue":{"type":"number"},"totalCurrentValue":{"type":"number"},"totalDepreciation":{"type":"number"},"averageDepreciationRate":{"type":"number","format":"double"}}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"Enter JWT token","scheme":"bearer","bearerFormat":"JWT"}}}}